.smile{
    height: 30px;

}

.arrow{
    margin: 0 0 0 15px;;
}

.minus{
    margin: 0 10px 0 130px;
}
.add{
    margin: 0 0 0 10px;
}

.ticket{
    margin: 5px;
    align-items:left;
}

.mintTicket{
    width: 100%;
}

@media only screen and (max-width: 768px) {
.minus{
    margin: 0 10px 0 60px;
}
.logo{
    margin: 0 -100px 0px 00px;;
}
  }